dna_rna_test.py
fastq_test.py
__pycache__/
example_fastq.py
utils/__pycache__/
.ipynb_checkpoints/
filtered/
output_oneline.fasta
protein_list.txt
output_oneline_fasta.fasta


pytest_dna_rna_filter.png
flake8.png
.pytest_cache
